.acc-wrapper {
  display: flex;
  height: 65%;
  width: 70%;
  align-items: center;
  flex-direction: column;
}

.acc-wrapper button {
  padding: 10px 20px;
  background: #2fb2bb;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.accordian {
  width: 100%;
}

.item {
  margin-bottom: 10px;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(221, 148, 148, 0.562);
}

.item:hover {
  background: #2fb2bb;
  transition: 0.3s ease-in-out;
  scale: 1.02;
}

.title {
  color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.acc-content {
  color: #000000;
  height: auto;
}
.title span {
  font-size: 24px;
  font-weight: bold;
}