.fifth-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fifth-page h1 {
    color: rgb(0, 0, 0);
    margin-top: 6%;
}

.selling_button {
    width: 10%;
    height: 45px;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    margin-top: 10px;
    background-color: rgb(13, 114, 209);
}
.right_arrow {
    width: 30px;
    height: 30px;
    fill: rgb(0, 0, 0);
}