.forth-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
}

.forth-page h1 {
  margin-top: 5rem;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  color: #333;
}

/* @media (max-width: 639px) {
  .Forth {
    padding: 1rem 0;
  }

  .search-form {
    margin-bottom: 1rem;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  .Forth{
    padding: 2rem 1rem;
  }

  .search-form {
    margin-bottom: 1.5rem;
  }
} */

.searchContainers {
  height: 8vh;
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  border-radius: 50px;
  box-sizing: border-box;
}
.p_Bases {
  height: 7vh;
  width: 40vw;
  color: #1b263b;
  font-size: 1.2rem;
  border: none;
  border-radius: 20px;
}
.p_Bases:focus {
  outline: none;
}

.button_Bases {
  height: 7.2vh;
  width: 19vw;
  background-color: #0c5da8;
  font-size: 1.5rem;
  color: #1b263b;
  border: none;
  cursor: pointer;
  border-radius: 50px;
}
.button_Bases:hover {
  background-color: #3f37c9;
}
.button_Bases:active {
  background-color: #4895ef;
}

.cards-wrapper {
  width: 100%;
  height: 55%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
  padding: 0 2rem;
  box-sizing: border-box;
  overflow-y: auto;
}
