.Home {
  height: 90vh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.Base {
  height: 85vh;
  width: 100vw;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.h1_Base {
  color: #1b263b;
  font-size: 3rem;
  text-align: center;
  width: 60vw;
}
.searchContainer {
  height: 8vh;
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4vh;
  background-color: rgb(253, 253, 253);
  border-radius: 50px;
  box-sizing: border-box;
}
.p_Base {
  height: 7vh;
  width: 40vw;
  color: #1b263b;
  font-size: 1.2rem;
  border: none;
  border-radius: 20px;
}
.p_Base:focus {
  outline: none;
}

.button_Base {
  height: 7.2vh;
  width: 19vw;
  background-color: #480ca8;
  font-size: 1.5rem;
  color: #1b263b;
  border: none;
  cursor: pointer;
  border-radius: 50px;
}
.button_Base:hover {
  background-color: #3f37c9;
}
.button_Base:active {
  background-color: #4895ef;
}
