.Second {
  height: 70vh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Second h1 {
  width: 60vw;
  color: rgb(0, 0, 0);
  text-align: center;
}
.Second .links {
  height: 50vh;
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  border: rgb(0, 0, 0) 3px dashed;
  border-radius: 20px;
}
.Second .links a {
  color: #ffd700;
  text-decoration: none;
  font-size: 1.8em;
}
.upload {
  height: 2em;
  width: 2em;
  fill: #ffd700;
  margin-right: 10px;
}
