.cards-container {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  background-color: #3e6d99;
  transition: transform 0.2s;
  height: 43vh;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
}
.cards-container:hover {
  transform: scale(1.05);
}
.card {
  width: 100%;
  height: 50%;
  overflow: hidden;
  background-color: black;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card_overlay {
  position: absolute;
  top: 0;
  opacity: 0;
  transition: opacity 0.2s;
  right: 0;
}
.cards-container:hover .card_overlay {
  opacity: 1;
}
.favorite-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
  cursor: pointer;
}
.favorite-btn span{
    scale: 1.5;
}

.favorite-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.favorite-btn.active {
  color: #ff4757;
}
.card_info {
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.card_title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
}
.card_info h2 {
  font-size: 1rem;
  margin: 0;
}
.card_info p {
  flex-grow: 1;
  font-size: 0.875rem;
  color: #cccccc;
  margin: 0.5rem 0 0 0;
}
