.scroll0 {
  margin-top: 3%;
  width: 8%;
  height: 20%;
  margin-left: 48%;
  overflow: hidden;
  position: relative;
}
.scroll0-bar {
  width: 100%;
  height: 70%;
  overflow: hidden;
}
.scroll {
  position: relative;
  width: 100%;
  height: 0%;
  animation: scroll1 1.3s linear 0s infinite;
}

@keyframes scroll1 {
  0% {
    height: 15%;
  }
  100% {
    height: 30%;
    visibility: hidden;
  }
}
.scroll-bar1 {
  width: 100%;
  height: 90%;
  /* animation: scroll1 1S linear 0s infinite ; */
}

.scroll-bar2 {
  width: 100%;
  height: 90%;
  /* animation: scroll2 1s linear 0s infinite ; */
}
.scroll2 {
  bottom: 20%;
}
.scroll-bar3 {
  width: 100%;
  height: 90%;
  /* animation: scroll3 1s linear 0s infinite ;    */
}
.scroll3 {
  bottom: 40%;
}
.div_p {
  width: 100%;
  height: 20%;
  text-align: center;
  font-size: 20px;
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  padding-top: 10px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 35px;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
  width: 80%;
  margin-left: 10%;
  cursor: unset ;
}
